.talkify-control-center {
    display: inline-block;
    position: fixed;
    left: 0px;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 135, 205, 1);
    box-shadow: 2px 2px 5px 0px #5f5e5e;
    border: 1px solid #0084b3;
}
    .talkify-control-center .drag-area {
        padding-left: 10px;
        padding-right: 10px;
        cursor: move;
        color: white;
        background-color: #01334c;
    }

    .talkify-control-center progress {
        margin: 0 5px;
        background-color: white;
        width: 120px;
    }

        .talkify-control-center progress::-webkit-progress-bar {
            background-color: rgba(255,255,255, 0.7);
        }

        .talkify-control-center progress::-webkit-progress-value {
            background-color: #FF9800;
        }

        .talkify-control-center progress::-moz-progress-bar {
            background-color: #FF9800;
        }


    .talkify-control-center li.progress-wrapper {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .talkify-control-center div.talkify-voice-selector {
        display: none;
    }

    .talkify-control-center li.talkify-voice-selector select {
        display: none;
    }

    .talkify-control-center button {
        border-style: none;
        background-color: transparent;
        cursor: pointer;
    }

    .talkify-control-center .talkify-play-button {
        padding: 0 10px;
    }

    .talkify-control-center > ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .talkify-control-center li {
        display: inline-block;
        vertical-align: middle;
        border-style: none;
        cursor: pointer;
        background-color: rgba(0, 135, 205, 1);
        transition: all 0.5s;
        padding: 6px 1px;
    }

        .talkify-control-center li:not(.progress-wrapper):not(.talkify-voice-selector):hover {
            filter: brightness(115%);
        }


    .talkify-control-center .volume-slider, .talkify-control-center .rate-slider {
        position: absolute;
        left: 0;
        top: 20px;
        background-color: rgba(0, 135, 205, 1);
        padding: 5px;
        display: none;
    }

        .talkify-control-center .volume-button:focus .volume-slider,
        .talkify-control-center .volume-button:active .volume-slider,
        .talkify-control-center .volume-slider:hover,
        .talkify-control-center .rate-button:focus .rate-slider,
        .talkify-control-center .rate-button:active .rate-slider,
        .talkify-control-center .rate-slider:hover {
            display: block;
            top: -30px;
        }

    .talkify-control-center .volume-button, .talkify-control-center .rate-button {
        position: relative;
    }

    .talkify-control-center input[type=range] {
        /*removes default webkit styles*/
        -webkit-appearance: none;
        /*required for proper track sizing in FF*/
        width: 100px;
        background: transparent;
        border: 0;
        padding: 0;
    }

        .talkify-control-center input[type=range]::-webkit-slider-runnable-track {
            height: 5px;
            background: white;
            border: none;
            border-radius: 5px;
        }

        .talkify-control-center input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            background: #FF9800;
            margin-top: -4px;
        }

        .talkify-control-center input[type=range]:focus {
            outline: none;
        }

            .talkify-control-center input[type=range]:focus::-webkit-slider-runnable-track {
                background: white;
            }

        .talkify-control-center input[type=range]::-moz-range-track {
            width: 75px;
            height: 3px;
            background: white;
            border: none;
            -ms-border-radius: 3px;
            border-radius: 3px;
        }

        .talkify-control-center input[type=range]::-moz-range-thumb {
            border: none;
            height: 12px;
            width: 12px;
            -ms-border-radius: 50%;
            border-radius: 50%;
            background: #FF9800;
        }

        /*hide the outline behind the border*/
        .talkify-control-center input[type=range]:-moz-focusring {
            outline: 1px solid white;
            -ms-outline-offset: -1px;
            outline-offset: -1px;
        }

        .talkify-control-center input[type=range]::-ms-track {
            width: 75px;
            height: 3px;
            /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
            background: transparent;
            /*leave room for the larger thumb to overflow with a transparent border */
            border-color: transparent;
            border-width: 6px 0;
        }

        .talkify-control-center input[type=range]::-ms-fill-lower {
            border-radius: 10px;
            background: white;
        }

        .talkify-control-center input[type=range]::-ms-fill-upper {
            background: #777;
            border-radius: 10px;
        }

        .talkify-control-center input[type=range]::-ms-thumb {
            border: none;
            height: 12px;
            width: 12px;
            -ms-border-radius: 50%;
            border-radius: 50%;
            background: #FF9800;
            margin-top: -1px;
        }

        .talkify-control-center input[type=range]:focus::-ms-fill-lower {
            background: white;
        }

        .talkify-control-center input[type=range]:focus::-ms-fill-upper {
            background: #888;
        }

        .talkify-voice-indicators{
            width: 7px;
            height: 7px;
            display: inline-block;
            margin-left: 5px;
            border-radius: 50%;
            background-color: black;
            animation: updown 1s infinite;
            position: relative;
            transform-origin: center;
        }
        
        .talkify-voice-indicators:nth-child(2){
            animation-delay: 0.2s;
        }

        .talkify-voice-indicators:nth-child(3){
            animation-delay: 0.4s;
        }

    .talkify-control-center.attached {
        left: 0 !important;
        bottom: 0 !important;
        top: auto !important;
        width: 100%;
    }

    .talkify-control-center.attached .drag-area,
    .talkify-control-center.attached .talkify-detatched,
    .talkify-control-center:not(.attached) .talkify-attached {
        display: none;
    }

    .talkify-control-center.attached progress {
        width: auto;
    }

    .talkify-control-center.attached progress {
        width: 300px;
    }

    .talkify-control-center.attached div.talkify-voice-selector {
        padding-right: 10px;
        display: initial;
        text-align: right;
    }

    .talkify-control-center.attached i {
        font-size: 17px;
        padding: 5px;
    }

    .talkify-control-center.attached > ul {
        background-color: transparent;
        border-style: none;
        box-shadow: unset;
    }

    .talkify-control-center .audio-loading {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
      }

      .talkify-control-center.attached .audio-loading {
        width: 32px;
        height: 32px;
      }

      .talkify-control-center .audio-loading div {
        position: absolute;
        border: 2px solid #fff;
        opacity: 1;
        border-radius: 50%;
        animation: talkify-control-center-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      .talkify-control-center.attached .audio-loading div {
        border: 3px solid #fff;
        animation: talkify-control-center-attached-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
      }

      .talkify-control-center .audio-loading div:nth-child(2) {
        animation-delay: -0.5s;
      }

    @media screen and (max-device-width : 900px), only screen and (max-width : 900px) {
        .talkify-control-center.attached .talkify-time-element{
            display: none;
        }

        .talkify-control-center.attached progress{
            width: 200px;
        }

        .talkify-control-center.attached i{
            padding: 2px;
        }
    }

    @media screen and (max-device-width : 640px), only screen and (max-width : 640px) {
        .talkify-control-center.attached progress{
            width: 100px;
        }

        .talkify-control-center.attached div.talkify-voice-selector{
            display: none;
        }
    }


    @keyframes updown{
        0%{
          transform: scale(1);
        }
        50%{
            transform: scale(1.3);
        }
        100%{
            transform: scale(1);
        }
      }

      @keyframes talkify-control-center-loader {
        0% {
          top: 7px;
          left: 7px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: -1px;
          left: -1px;
          width: 14px;
          height: 14px;
          opacity: 0;
        }
      }

      @keyframes talkify-control-center-attached-loader {
        0% {
          top: 14px;
          left: 14px;
          width: 0;
          height: 0;
          opacity: 1;
        }
        100% {
          top: -1px;
          left: -1px;
          width: 28px;
          height: 28px;
          opacity: 0;
        }
      }
      